<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" > 
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDhBv45LIq7gUgdtjTWc3lyIkMxBeiLzJU&sensor=true">
    </script>
    
    
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>
    
    <style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      
      #map_canvas { 
        height: 50%;
        position: relative;
        top: 100px; 
      }
    </style>
  </head>
  <body onload="initialize()">
    <div id="map_canvas"></div>
  </body>
</html>